<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <servlet>
        <servlet-name>helloServlet</servlet-name>
        <servlet-class>com.example.nermaxcookingee.HelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>helloServlet</servlet-name>
        <url-pattern>/helloServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.example.nermaxcookingee.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AuthorizationServlet</servlet-name>
        <servlet-class>com.example.nermaxcookingee.AuthorizationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthorizationServlet</servlet-name>
        <url-pattern>/AuthorizationServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RecipesServlet</servlet-name>
        <servlet-class>com.example.nermaxcookingee.RecipesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RecipesServlet</servlet-name>
        <url-pattern>/RecipesServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>IngredientsServlet</servlet-name>
        <servlet-class>com.example.nermaxcookingee.IngredientsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IngredientsServlet</servlet-name>
        <url-pattern>/IngredientsServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RecipeByNameServlet</servlet-name>
        <servlet-class>com.example.nermaxcookingee.RecipeByNameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RecipeByNameServlet</servlet-name>
        <url-pattern>/RecipeByNameServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteRecipeServlet</servlet-name>
        <servlet-class>com.example.nermaxcookingee.DeleteRecipeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteRecipeServlet</servlet-name>
        <url-pattern>/DeleteRecipeServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateRecipeServlet</servlet-name>
        <servlet-class>com.example.nermaxcookingee.UpdateRecipeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateRecipeServlet</servlet-name>
        <url-pattern>/UpdateRecipeServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>com.example.nermaxcookingee.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/UpdateUserServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CheckAuthorizationServlet</servlet-name>
        <servlet-class>com.example.nermaxcookingee.CheckAuthorizationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckAuthorizationServlet</servlet-name>
        <url-pattern>/CheckAuthorizationServlet</url-pattern>
    </servlet-mapping>

</web-app>